# Godot 4+ specific ignores
/.godot/shader_cache
/.godot/imported

assets
.godot
/.godot
/.godot/editor
.godot/uid_cache.bin
.godot/global_script_class_cache.cfg
.godot/editor/project_metadata.cfg
.godot/editor/filesystem_update4
.godot/editor/filesystem_cache8
.godot/editor/editor_layout.cfg
*.blend1
/.godot
